{% extends "macarrones/base.html" %}
{% block content %}
<div class="text-center mt-8">

    <h1 class="text-2xl font-bold mb-2">Partida: {{ game.room_name }}</h1>
    <p class="mb-6">Jugador actual: {{ game.active_player }}</p>

    <form method="POST" class="inline-block">
        {% csrf_token %}
        <div class="grid grid-cols-3 gap-2 w-48 mx-auto">
            {% for i in board %}
                <button 
                    type="submit"
                    name="square" 
                    value="{{ forloop.counter0 }}" 
                    class="border-2 border-gray-800 w-16 h-16 flex items-center justify-center text-2xl font-bold bg-white hover:bg-gray-200 dark:bg-gray-800 dark:text-white">
                    {{ i }}
                </button>
            {% endfor %}
        </div>
    </form>

    {% if game.over %}
        <p class="text-green-600 font-bold">Ganador: {{ game.winner }}</p>
        
        <form method="POST" action="{% url 'games:delete_game' game.room_name %}" class = "mt-4">
          {% csrf_token %}
          <button type="submit" class= "bg-red-400 text-white px-3 py-1 rounded">
            Eliminar partida
          </button>

        </form>
    {% endif %}
</div>

{{ game.room_name |json_script:"room_data_json" }}
<script>
    const usable_data = JSON.parse(document.getElementById('room_data_json').textContent);
</script>

<script>
    const roomName = "{{ game.room_name }}";
    const gameSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/tictactoe/' + roomName + '/'
    );

    gameSocket.onopen = function(e) {
        console.log("Connected to socket.");
    };

    gameSocket.onmessage = function(e) {
        const data = JSON.parse(e.data).my_data;
        console.log("New Message Received");
    };
</script>
<div class="mt-4 flex justify-center">
    <button class="bg-blue-300 border hover:bg-blue-600" onclick="gameSocket.send(JSON.stringify({'message': 'Prueba desde frontend'}))"> Enviar mensaje de prueba </button>
</div>


{% endblock %}

