<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>WEBSIMPLE</title>
        <script defer src="{% static 'js/hola.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/simple.css' %}">
    </head>
    <body>
        <div class="centrado">
        <h1>I LIKE SPAGHETIS</h1>
        <h2>RECEIPE PASTA CARBONARA</h2>
        <p class="name">by Wilmer Santiago Piray Bustillos</p>

        <img src="{% static 'images/carbonara.jpg' %}" alt="spaguetis" width="400px">

        </div>
    </body>
</html>