
    {% extends "macarrones/base.html" %}
    {% load static %}

    {% block content %}
    
    <div class="text-2xl bg-stone-300 dark:bg-gray-900 dark:text-indigo-50 bd-300 rounded-lg place-items-center text-center">
         <h1 class="flex justify-center ">
             Welcome to my first page with tailwind and django.
         </h1>
          <p class="flex justify-center">
            Este es mi cantante favorito, Ra Rauw
         </p>
         <img class="rounded-xl " src="https://photos.bandsintown.com/thumb/19010221.jpeg">

         <h1 class="text-2xl font-bold">Lista de personas</h1>
    <ul>
        {% for person in persons %}
        <li class= "mb-2">
            <a href="{% url 'macarrones:person_detail' slug=person.slug %}" class="text-blue-600 hover:underline dark:text-indigo-400">
            {{ person.name }} ({{ person.birth }})
            </a>
        </li>
        {% empty %}
        <li class="italic text-gray-500">NO HAY PERSONAS REGISTRADAS AUN</li> 
        {% endfor%}
    </ul>

    <a class = "hover:underline text-red-400" href="users/register">REGISTAR UN USUARIO </a>

    </div>
    

    
    {% endblock content %}
    

